################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskAide/TaskAide.Infrastructure/obj
/TaskAide/TaskAide.API/obj
/.vs
/TaskAide/.vs/TaskAide/v17
/TaskAide/TaskAide.API/bin/Debug/net6.0
/TaskAide/.vs/TaskAide/DesignTimeBuild
/TaskAide/TaskAide.Domain/bin/Debug/net6.0
/TaskAide/TaskAide.Domain/obj/Debug/net6.0
/TaskAide/TaskAide.Infrastructure/bin/Debug/net6.0
/TaskAide/TaskAide.Domain/obj
/TaskAide/TaskAide.UnitTests/bin/Debug/net6.0
/TaskAide/TaskAide.UnitTests/obj/Debug/net6.0
/TaskAide/TaskAide.UnitTests/obj
