################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskAide/TaskAide.Infrastructure/obj
/TaskAide/TaskAide.API/obj
/.vs
/TaskAide/.vs/TaskAide/v17
